<% @layouts.each do |layout| %>
    <div class="booyah-box col-xs-10 col-xs-offset-1">
        <h1><%= link_to layout.name, layout_path(layout) %></h1><br />
        <p><%= layout.description %></p><br />

        <% if layout.user.present? %>
           <!-- <small><%= layout.user.email %></small> -->
        <% end %>
    </div>

    
<% end %>
